:root {
    --var-PrimaryColor: #6725A8;
    --var-ButtonsColor: #CB11AB;
    --var-TranslucentWhite: #FFFFFF33;
    --var-GrayColor: #9797AF;
    --var-Background: #F6F6FA;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

header {
    width: 100vw;
    height: 110px;
    background-color: var(--var-PrimaryColor);
}

.header-container {
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    gap: 32px;
    align-items: center;
    max-width: 1400px;
    height: 88px;
}

.header-nav-element {
    display: flex;
    align-items: center;
    width: 170px;
    gap: 16px;
}

.header-button__menu {
    display: flex;
    padding: 11px 9px;
    border-radius: 10px;
    border: 1px solid #ffffff8e;
}

.header-button__menuMobile {
    display: none;
    padding: 11px 9px;
    border-radius: 10px;
}

.header__title {
    width: 106px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
}

.header__search {
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    border-radius: 36px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: var(--var-TranslucentWhite);
    background-image: url(/images/header-search.png);
    background-repeat: no-repeat;
    background-position: top 50% right 22px;
}

.header__searchMobile {
    display: none;
}

.header-navbar {
    margin-right: 8px;
    padding: 5px 8px;
    padding-left: 3px;
    display: flex;
    gap: 40px;
}

.header-navbar__Profile,
.header-navbar__Basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 16px;
}

.header-navbar__Profile {
    margin-top: 8px;
    margin-right: 4px;
}

.header-navbar__Basket {
    margin-top: 6px;
    margin-right: 5px;
}

.header-navbar__ProfileSpan,
.header-navbar__BasketSpan {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 400;
}

.header-navbar__ProfileSpan {
    margin-right: 2px;
}

.header-navbar__BasketSpan {
    margin-right: -3px;
}

.body {
    margin: -24px auto 0;
    border-radius: 24px;
    background-color: var(--var-Background);
}

.body-container {
    display: flex;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1400px;
}

.body-main {
    width: 890px;
}

.body__title {
    padding-top: 42px;
    font-size: 28px;
    font-weight: 700;
}

.body-main-header {
    display: flex;
    padding-bottom: 19px;
    justify-content: space-between;

    border-bottom: 1px solid #0000001A;
}

.body-checkbox-area__hideAll {
    display: flex;
    margin-top: 33px;
}

.body-checkbox-label {
    display: flex;
}

.body-checkbox__hideAll {
    width: 22px;
    height: 22px;
}

.body-checkbox__span {
    margin-top: -2px;
    margin-left: 10px;
}

.body-checkbox__button {
    width: 20px;
    height: 20px;
}

.body-checkbox__button {
    margin-top: 35px;
    background-image: url(/images/body-hideAll.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.body-main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.card-main {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.card__image {
    padding: 0 10px;
}

.card-description {
    padding: 0 6px;
    display: flex;
    flex-direction: column;
}

.card__name {
    padding-bottom: 3px;
}


.card__color,
.card__size {
    padding-right: 13px;
    font-size: 13px;
    line-height: 16px;
}

.card-tm {
    margin-top: -2px;
    display: flex;
    gap: 5px;
}

.card__importer,
.card-tm__item {
    font-size: 13px;
    color: var(--var-GrayColor);
}


.card-tm__image {
    background-image: url(/images/body-card-importerInfo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.card-nav {
    display: flex;
}

.card-nav-counter {
    display: flex;
    height: 44px;
}

.card-settings {
    margin-right: 27px;
}

.counter__decrement,
.counter__increment {
    width: 28px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    background-color: #fff;
    color: #000;
}

.counter__value {
    width: 44px;
    height: 100%;
}

.counter__increment {
    border-radius: 0 8px 8px 0;
}

.card-nav__reminder {
    color: #FF3B30;
    font-size: 13px;
}

.card-nav-options {
    margin-top: 8px;
    display: flex;
    gap: 15px;
    justify-content: end;
}

.card-nav__favorite,
.card-nav__trash {
    width: 20px;
    height: 20px;
}

.card-nav__favorite {
    background-image: url(/images/body-card-favorites.svg);
}

.card-nav__trash {
    background-image: url(/images/body-card-trash.svg);
}

.card-price {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.card-price__discountPrice {
    letter-spacing: -1.7px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.card-price__price {
    margin-top: 3px;
    text-align: right;
    font-size: 13px;
    color: var(--var-GrayColor);
    text-decoration: line-through;
    border-bottom: 1px dashed var(--var-GrayColor);
}



























@media only screen and (max-width: 1024px) {

    .header-container {
        padding: 0 25px;
    }

    .header-navbar {
        margin-right: -8px;
    }
}

@media only screen and (max-width: 500px) {

    .header-container {
        padding: 0 7px;
        height: 56px;
        justify-content: space-between;
    }

    .header-button__menu {
        display: none;
    }

    .header-button__menuMobile {
        display: flex;
    }

    .header__title {
        margin-top: -5px;
        margin-left: -4px;
        min-width: 250px;
    }

    .header__search,
    .header-navbar {
        display: none;
    }

    .header__searchMobile {
        display: block;
        margin-right: 7px;
        width: 28px;
        height: 28px;
        background-image: url(/images/header-search.png);
        background-repeat: no-repeat;
        background-position: center;
    }

}