:root {
    --var-PrimaryColor: #6725A8;
    --var-ButtonsColor: #CB11AB;
    --var-TranslucentWhite: #FFFFFF33;
    --var-GrayColor: #9797AF;
    --var-Background: #F6F6FA;
    --var-Separator: #0000001A;
    --var-GreenColor: #0CB477;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

header {
    width: 100vw;
    height: 110px;
    background-color: var(--var-PrimaryColor);
}

.header-container {
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    gap: 32px;
    align-items: center;
    max-width: 1400px;
    height: 88px;
}

.header-nav-element {
    display: flex;
    align-items: center;
    width: 170px;
    gap: 16px;
}

.header-button__menu {
    display: flex;
    padding: 11px 9px;
    border-radius: 10px;
    border: 1px solid #ffffff8e;
}

.header-button__menuMobile {
    display: none;
    padding: 11px 9px;
    border-radius: 10px;
}

.header__title {
    width: 106px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
}

.header__search {
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    border-radius: 36px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: var(--var-TranslucentWhite);
    background-image: url(/images/header-search.png);
    background-repeat: no-repeat;
    background-position: top 50% right 22px;
}

.header__searchMobile {
    display: none;
}

.header-navbar {
    margin-right: 8px;
    padding: 5px 8px;
    padding-left: 3px;
    display: flex;
    gap: 40px;
}

.header-navbar__Profile,
.header-navbar__Basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 16px;
}

.header-navbar__Profile {
    margin-top: 8px;
    margin-right: 4px;
}

.header-navbar__Basket {
    margin-top: 6px;
    margin-right: 5px;
}

.header-navbar__ProfileSpan,
.header-navbar__BasketSpan {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 400;
}

.header-navbar__ProfileSpan {
    margin-right: 2px;
}

.header-navbar__BasketSpan {
    margin-right: -3px;
}

.container {
    margin: -24px auto 0;
    padding-top: 42px;
    border-radius: 24px;
    background-color: var(--var-Background);
}

.container-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1400px;
}

.container-main {
    width: 890px;
}

.container__title {
    letter-spacing: 2.2px;
}

.container-main-header {
    display: flex;
    padding-bottom: 19px;
    justify-content: space-between;
    border-bottom: 1px solid var(--var-Separator);
}

.container-checkbox-area__hideAll {
    display: flex;
    margin-top: 33px;
}

.container-checkbox-label {
    display: flex;
}

.container-checkbox__hideAll {
    width: 22px;
    height: 22px;
}

.container-checkbox__span {
    margin-top: -2px;
    margin-left: 10px;
}

.container-checkbox__button,
.missing__button {
    margin-top: 35px;
    width: 20px;
    height: 20px;
    background-image: url(/images/body-hideAll.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container-main-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-main {
    margin: 10px 0;
    display: flex;
}

.card-main-good {
    display: flex;
    align-items: center;
    height: fit-content;
}

.card-checkbox-label {

    display: flex;
}

.card__image {
    padding: 0 10px;
}

.card-description {
    padding: 0;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.card__name {
    padding-bottom: 3px;
}

.card__color,
.card__size {
    padding-right: 13px;
    font-size: 13px;
    line-height: 16px;
}

.card-tm {
    margin-top: -2px;
    display: flex;
    gap: 5px;
}

.card__importer,
.card-tm__item {
    font-size: 13px;
    color: var(--var-GrayColor);
}


.card-tm__image {
    background-image: url(/images/body-card-importerInfo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.card-nav {
    margin: 9px 0;
    display: flex;
}

.card-nav-counter {
    display: flex;
    height: 44px;
}

.card-settings {
    margin-right: 7px;
}

.counter__decrement,
.counter__increment {
    width: 28px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    font-size: 22px;
    background-color: #fff;
    color: #000;
}

.counter__value {
    width: 44px;
    height: 100%;
}

.counter__increment {
    border-radius: 0 8px 8px 0;
}

.card-nav__reminder {
    color: #FF3B30;
    font-size: 13px;
}

.card-nav-options {
    margin-top: 8px;
    display: flex;
    gap: 15px;
    justify-content: end;
}

.card-nav__favorite,
.card-nav__trash {
    width: 20px;
    height: 20px;
}

.card-nav__favorite {
    background-image: url(/images/body-card-favorites.svg);
}

.card-nav__trash {
    background-image: url(/images/body-card-trash.svg);
}

.card-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 120px;
}

.card-price__discountPrice {
    letter-spacing: -1.7px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.card-price__price {
    margin-top: 3px;
    width: fit-content;
    font-size: 13px;
    color: var(--var-GrayColor);
    text-decoration: line-through;
    border-bottom: 1px dashed var(--var-GrayColor);
}

.missing-header {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid var(--var-Separator);
}

.missing__title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.missing__button {
    margin-top: 5px;
}

.missing__item {
    margin-top: 10px;
    margin-bottom: 22px;

    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.missing-good-info {
    display: flex;
}

.missingCard__image {
    padding: 0;
    filter: grayscale(1);
}


.missing-description {
    width: 300px;
    margin-left: 15px;
}

.missing__name {
    font-size: 16px;
    color: var(--var-GrayColor);
}

.missing__color,
.missing__size {
    font-size: 13px;
    color: var(--var-GrayColor);
}

.missing__size {
    margin-left: 14px;
}

.missing-options {
    display: flex;
    gap: 15px;
    margin-right: 125px;
}

.container-main-delivery {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 16px;
}

.delivery-header {
    padding: 20px 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.delivery-header__change {
    font-size: 16px;
    font-weight: 700;
    color: var(--var-ButtonsColor);
}

.delivery-settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 24px;
}

.delivery-string {
    display: flex;
}

.delivery-firstColl {
    width: 170px;
    font-weight: 600;
}

.delivery-secondColl {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.delivery-string-address__info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.delivery-secondColl-goods {
    display: flex;
    gap: 8px;
}

.delivery-secondColl__image {
    width: 40px;
    height: 56px;
    border-radius: 8px;
}

.delivery-footer {
    margin-top: 30px;
    padding: 0 24px 30px;
    display: flex;
}

.delivery-footer__text {
    padding-left: 8px;
    font-size: 13px;
}

.delivery-footer__textGeen {
    color: var(--var-GreenColor);
}
















@media only screen and (max-width: 1024px) {

    .header-container {
        padding: 0 25px;
    }

    .header-navbar {
        margin-right: -8px;
    }
}

@media only screen and (max-width: 500px) {

    .header-container {
        padding: 0 7px;
        height: 56px;
        justify-content: space-between;
    }

    .header-button__menu {
        display: none;
    }

    .header-button__menuMobile {
        display: flex;
    }

    .header__title {
        margin-top: -5px;
        margin-left: -4px;
        min-width: 250px;
    }

    .header__search,
    .header-navbar {
        display: none;
    }

    .header__searchMobile {
        display: block;
        margin-right: 7px;
        width: 28px;
        height: 28px;
        background-image: url(/images/header-search.png);
        background-repeat: no-repeat;
        background-position: center;
    }

}