@font-face {
    font-family: "SegoeUIRegular";
    src: url("/fonts/SegoeUIRegular.eot");
    src: url("/fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
        url("/fonts/SegoeUIRegular.woff") format("woff"),
        url("/fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

h2 {
    font-size: clamp(19px, 2.5vw, 24px);

}

html {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: #00000000;
    color: #fff;
}

input {
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF33;
}

input::-moz-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: var(--var-TranslucentWhite);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.default__checkbox,
.default__checkboxSmall,
.default__checkbox,
.default__radio {
    display: none;
}

.custom__checkbox,
.custom__checkboxSmall,
.custom__checkboxCard {
    position: relative;
    width: 22px;
    height: 22px;
    border: 2px solid #00000033;
    border-radius: 6px;
}

.custom__checkbox::before,
.custom__checkboxSmall::before,
.custom__checkboxCard::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease-in;
    content: "";
    width: 22px;
    height: 22px;
    background-color: var(--var-ButtonsColor);
    border-radius: 6px;
    background-image: url(/images/check-mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.default__checkbox:checked+.custom__checkbox::before,
.default__checkboxSmall:checked+.custom__checkboxSmall::before,
.default__checkboxCard:checked+.custom__checkboxCard::before {
    opacity: 1;
}

.custom__checkboxSmall {
    width: 16px;
    height: 14px;
    border-radius: 4px;
}

.custom__checkboxSmall::before {
    width: 16px;
    height: 14px;
    background-color: #fff;
    border-radius: 4px;
    background-image: url(/images/check-mark-small.svg);
}

.custom__radio {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #00000033;
    border-radius: 50%;
}

.custom__radio::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease-in;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: 5px solid var(--var-ButtonsColor);
    outline-offset: -5px;
    opacity: 0;
}

.default__radio:checked+.custom__radio::before {
    opacity: 1;
}