* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

html {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: #00000000;
    color: #fff;
}

input {
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF33;
}

input::-moz-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: var(--var-TranslucentWhite);
}