@font-face {
    font-family: "SegoeUIRegular";
    src: url("/fonts/SegoeUIRegular.eot");
    src: url("/fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
        url("/fonts/SegoeUIRegular.woff") format("woff"),
        url("/fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

h2 {
    font-size: clamp(19px, 2.5vw, 24px);

}

html {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: #00000000;
    color: #fff;
}

input {
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF33;
}

input::-moz-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: var(--var-TranslucentWhite);
}